/* all section */
@media screen and (max-width:834px) {
    a, .list-left-name-section i, .list-burger-btn, .burger-btn, .list .list-burger-btn, .btn-mulai, .notif-post button, .close-notifikasi-dua, .btn-daftar-isi {
        cursor: default;
    }
}

/* list section */
@media screen and (max-width:768px) {
    .list li:first-child, .list li:nth-child(2), .list li:nth-child(3) {
        display: none;
    }
}

/* list left sention */
@media screen and (max-width:302px) {
    .list-left {
        width: 200px;
    }
}

/* jumbotron section */
@media screen and (max-width:884px) {
    .become {
        width: 400px;
    }
}

@media screen and (max-width:756px) {
    .intro {
        height: 200px;
    }

    .become {
        width: 350px;
    }
}

@media screen and (max-width:712px) {
    .box-jumbotron {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .intro {
        order: 2;
        align-items: center;
    }

    .intro h1 {
        text-align: center;
    }

    .intro p {
        text-align: center;
    }

    .become {
        order: 1;
    }
}

@media screen and (max-width:376px) {
    .become {
        width: 250px;
    }
}

@media screen and (max-width:332px) {
    .intro {
        height: 250px;
    }
}

/* kategori section */
@media screen and (max-width:1230px) {
    .container-kategori {
        width: 100%;
    }
}

@media screen and (max-width:1228px) {
    .kategori, .tutorial {
        width: 32.2vw;
    } 
}
@media screen and (max-width:1177px) {
    .kategori, .tutorial {
        width: 32.1vw;
    } 
}
@media screen and (max-width:1081px) {
    .kategori, .tutorial {
        width: 32vw;
    } 
}
@media screen and (max-width:1000px) {
    .box-kategori {
        justify-content: center;
    }

    .kategori, .tutorial {
        width: 48.4vw;
    } 

    .kategori-end {
        width: 97.7vw;
    }

    .more .p-end {
        width: 900px;
    }
}
@media screen and (max-width:937px) {
    .kategori, .tutorial {
        width: 48.3vw;
    } 

    .kategori-end {
        width: 97.7vw;
    }
}
@media screen and (max-width:882px) {
    .kategori, .tutorial {
        width: 48.2vw;
    } 

    .kategori-end {
        width: 97.7vw;
    }
}
@media screen and (max-width:833px) {
    .kategori, .tutorial {
        width: 48.1vw;
    } 

    .kategori-end {
        width: 97.7vw;
    }
}
@media screen and (max-width:789px) {
    .kategori, .tutorial {
        width: 97.7vw;
    } 

    .more p {
        width: 700px;
    }

    .kategori-end {
        width: 97.7vw;
    }
}
@media screen and (max-width:700px) {
    .kategori, .tutorial {
        width: 95.7vw;
    } 

    .more p {
        width: 700px;
    }

    .kategori-end {
        width: 95.7vw;
    }
}
@media screen and (max-width:496px) {
    .kategori {
        width: 94vw;
    } 

    .more p {
        width: 700px;
    }

    .kategori-end {
        width: 94vw;
    }
}
@media screen and (max-width:400px) {
    .kategori {
        width: 93.5vw;
    } 

    .more p {
        width: 700px;
    }

    .kategori-end {
        width: 93.5vw;
    }
}

/* tutorial section */
@media screen and (max-width:400px) {
    .tutorial {
        width: 94vw;
    }
}

/* notifikasi section */
@media screen and (max-width:1228px) {
    .container-notifikasi {
        width: 98.2%;
    }
}

@media screen and (max-width:774px) {
    .container-notifikasi {
        padding-right: 10px;
        padding-left: 10px;
    }

    .notif-post input {
        width: 350px;
    }
}

@media screen and (max-width:664px) {
    .container-notifikasi {
        width: 96%;
    }

    .gambar-kanan {
        display: none;
    }
}

@media screen and (max-width:390px) {
    .notif-post input {
        width: 300px;
    }
}

@media screen and (max-width:330px) {
    .notif-post input {
        width: 250px;
    }
}

@media screen and (max-width:280px) {
    .notif-post input {
        width: 220px;
    }
}

/* footer section */
@media screen and (max-width:1220px) {
    .box-footer {
        width: 100%;
    }
}

@media screen and (max-width:690px) {
    .footer-logo {
        display: none;
    }

    .container-medsos-and-thanks {
        width: 100%;
        justify-content: space-around;
    }
}

@media screen and (max-width:428px) {
    .container-medsos-and-thanks {
        flex-direction: column;
    }

    .medsos-and-thanks {
        margin: 10px 0;
    }
}

/* konten.php */
/* konten.php */
/* konten.php */
/* konten.php */
/* konten.php */

/* konten section */
@media screen and (max-width:1200px) {
    .container-konten {
        width: 100%;
        padding: 0 10px;
    }
}

@media screen and (max-width:940px) {
    .container-konten {
        flex-direction: column;
        align-items: center;
    }

    .konten-kiri {
        width: 740px;
        margin-bottom: 15px;
    }

    .konten-kanan {
        width: 740px;
    }

    .judul-tutorial-terbaru {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:740px) {

    .container-konten {
        padding: 0;
    }

    .konten-kiri {
        width: 100%;
        margin-bottom: 15px;
    }

    .konten-kanan {
        width: 100%;
    }
}

@media screen and (max-width:540px) {
    .judul-tutorial-terbaru {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:462px) {
    .sosial i, .sosial p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:438px) {
    article {
        font-size: 1rem;
    }

    .judul-tutorial-terbaru {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:368px) {
    .sosial i, .sosial p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:338px) {
    .card-tutorial-terbaru {
        flex-direction: column;
    }

    .judul-tutorial-terbaru {
        width: 100%;
    }

    .img-tutorial-terbaru {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:320px) {
    .youtube iframe {
        width: 100%;
    }
}

@media screen and (max-width:312px) {
    .sosial i, .sosial p {
        font-size: 0.7rem;
    }
}
