@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #d3d3d3;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #1E293B;
}

body::-webkit-scrollbar-track {
    background-color: #212e48;
}

body::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

body::-webkit-scrollbar-thumb {
    background: #1c273e;
}

/* pallets color */
.hijau{color: #00ad51;}
.pink{color:rgb(130, 130, 238)}


header {
    background-color: #161632;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
}

nav {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
}

/* logo section */
.logo {
    width: 120px;
    margin-left: 10px;
}

/* list section */
.list ul {
    display: flex;
}

.list li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.list .list-burger-btn {
    padding: 5px;
    cursor: pointer;
}

.link-list {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* .list li:first-child, .list-left li:first-child {
    background-color: #1C1C58;
} */

.list li:hover {
    background-color: #1C1C58;
}

.list li p {
    margin-left: 5px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    color: pink;
}

.list li p, .list li i, .list-left li p, .list-left li i {
    color: #6D6DC8;
}

.list li img {
    width: 27px;
}

/* burger btn section */
.burger-btn {
    width: 30px;
    height: 30px;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.line-burger-btn {
    width: 25px;
    height: 3px;
    border-radius: 2px;
    background-color: #6D6DC8;
    margin: 2px 0;
}

.line-burger-btn:last-child {
    width: 15px;
    margin-right: -10px;
}

/* list left section */
.container-list-left {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(22, 22, 50, 0.5);
    transform: translateX(-100%);
    transition: 0.5s;
}

.container-list-left-show {
    transform: translateX(0);
}

.list-left {
    width: 300px;
    height: 100%;
    background-color: rgb(22, 22, 50);
    overflow: auto;
}

.list-left-name-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
}

.list-left-name-section p {
    font-family: 'Ubuntu', sans-serif;
}

.list-left-name-section p, .list-left-name-section i {
    font-size: 1.3rem;
    font-weight: bold;
}

.list-left-name-section i {
    background-color: rgb(28, 28, 88, 0.5);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    line-height: 0;
    cursor: pointer;
}

.list-left-name-section i:hover {
    background-color: #1C1C58;
}

.list-left li {
    display: flex;
    align-items: center;
    margin: 10px 30px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.list-left li:hover {
    background-color: #1C1C58;
}

.list-left li p {
    padding-left: 10px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.list-left li img {
    width: 30px;
}

.list-left li .ig {
    font-size: 1.3rem;
}

.list-left li .yt {
    font-size: 1.2rem;
}

/* jumbotron section */
.container-jumbotron {
    background-color: #1C1C58;
    margin-top: 60px;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.box-jumbotron {
    width: 1200px;
    margin: 0 10px;
    /* background-color: #6D6DC8; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.intro h1 {
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
}

.intro p {
    font-size: 1.5rem;
    line-height: 33px;
    font-family: 'Ubuntu', sans-serif;
}

.btn-mulai {
    padding: 10px 15px;
    background-color: rgb(109, 109, 200, 0.7);
    color: #1C1C58;
    width: max-content;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}

.link-mulai {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.btn-mulai:hover {
    background-color: #6D6DC8;
}

.become {
    width: 450px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* kategori section */
.container-kategori {
    width: 1230px;
    margin-top: 50px;
    padding: 0 5px;
    /* padding-bottom: 50px; */
    /* background-color: #303037; */
}

.container-kategori h3 {
    color: #6D6DC8;
    margin-left: 10px;
    margin-bottom: 10px;
}

.container-kategori h2 {
    margin-bottom: 10px;
    margin-left: 10px;
}

.box-kategori {
    display: flex;
    flex-wrap: wrap;
}

.kategori {
    width: 396px;
    margin: 5px;
    padding: 15px;
    background-color: rgb(109, 109, 200, 0.3);
    box-shadow: 1px 1px 1px black;
    border-radius: 10px;
    position: relative;
    transition: 0.5s;
}

.ketegori-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.kategori:hover {
    background-color: rgb(109, 109, 200, 0.4);
}

.logo-kategori {
    background-color: rgb(109, 109, 200, 0.7);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 15px;
}

.kategori h4 {
    margin-bottom: 10px;
    color: #6D6DC8;
    line-height: 22px;
}

.more {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more i {
    font-size: 2rem;
}

.more p {
    /* background-color: pink; */
    width: 330px;
    line-height: 21px;
    margin-right: 10px;
    /* background-color: palevioletred; */
}

/* tutorial section */
.container-tutorial {
    display: flex;
    flex-wrap: wrap;
}

.lihat-semua-tutorial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tutorial-terbaru h3 a {
    color: #6D6DC8;
    text-decoration: none;
}

.tutorial-terbaru h3 a:hover {
    color: rgb(144, 144, 230);
}

.btn-lihat-semua-tutorial {
    background-color: rgb(109, 109, 200, 0.3);
    padding: 5px 10px;
    margin: 0 10px 10px 10px;
    border-radius: 5px;
    width: max-content;
    height: max-content;
    position: relative;
    transition: 0.5s;
    font-size: 0.9rem;
}

.btn-lihat-semua-tutorial:hover {
    background-color: rgb(109, 109, 200, 0.4);
}

.tutorial {
    width: 396px;
    margin: 5px;
    padding: 15px;
    background-color: rgb(109, 109, 200, 0.3);
    box-shadow: 1px 1px 1px rgb(20, 23, 36);
    border-radius: 5px;
    position: relative;
    transition: 0.5s;
}

.tutorial:hover {
    background-color: rgb(109, 109, 200, 0.4);
}

.tutorial img {
    width: 100%;
}

.tutorial .jdl-tutorial {
    color: #6D6DC8;
    margin-top: 5px;
    margin-left: 0;
}

/* notifikasi section */
.container-notifikasi {
    width: 1210px;
    margin: 0 10px;
    padding: 50px 0;
    background-color: #25254E;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.notifikasi-kiri p {
    line-height: 25px;
}

.notifikasi-logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.notifikasi-logo img {
    width: 30px;
    margin-right: 5px;
}

.notifikasi-logo p {
    color: #00AED4;
    font-weight: bold;
    font-size: 1.1rem;
}

.notif-post input {
    background-color: #008dad;
    border-color: transparent;
    padding: 5px;
    width: 450px;
    outline: 0;
}

.notif-post input::placeholder {
    color: rgb(204, 204, 204);
}

.notif-post button {
    background-color: #008dad;
    border-color: transparent;
    padding: 5px 10px;
    outline: 0;
    cursor: pointer;
}

.nama-box-input {
    margin-bottom: 5px;
}

.gambar-kanan {
    width: 250px;
}

.notifikasi-dua {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 10, 13, 0.9);
    z-index: 5;
    overflow: hidden;
    animation: feed-in 0.3s ease-in-out;
}

@keyframes feed-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.close-notifikasi-dua {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 1.3rem;
    cursor: pointer;
}

.btn-notifikasi-dua-left {
    cursor: pointer;
}

/* footer section */
footer {
    margin-top: 50px;
    padding: 50px 0 0 0;
    background-color: #0F0F35;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-footer {
    width: 1210px;
    padding: 0 10px;
}

.container-footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-logo {
    width: 300px;
}

.container-medsos-and-thanks {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.medsos-and-thanks li:first-child {
    color: #6D6DC8;
    font-weight: bold;
    margin-bottom: 10px;
}

.medsos-and-thanks li {
    list-style: none;
    margin: 3px 0;
    width: max-content;
}

.medsos-and-thanks li a {
    text-decoration: none;
}

.medsos-and-thanks li a:hover {
    color: #00AED4;
}

/* copyright section */
.copyright {
    border-top: 1px solid #4D4D84;
    text-align: center;
    color: #4F4FA1;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    padding: 10px 0;
    font-size: 0.9rem;
    line-height: 25px;
}

/* artikel.php */
/* artikel.php */
/* artikel.php */
/* artikel.php */
/* artikel.php */
/* artikel.php */
/* artikel.php */
/* artikel.php */

/* tutorial section dari artikel.php */
.kategori-artikel-php {
    margin-top: 120px;
}

/* list dari artikel.php */
.list ul .li-first-child-artikel-html, .list-left ul .li-first-child-artikel-html {
    background-color: transparent;
}

.list ul .li-first-child-artikel-html:hover, .list-left ul .li-first-child-artikel-html:hover {
    background-color: #1C1C58;
}

/* konten.php */
/* konten.php */
/* konten.php */
/* konten.php */
/* konten.php */

/* konten section */
.container-konten {
    /* background-color: pink; */
    width: 1200px;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

/* konten kiri section */
.konten-kiri {
    background-color: #1E293B;
    /* box-shadow: 1px 1px 5px #172131; */
    width: 65%;
    /* height: 300px; */
    /* border-radius: 5px; */
}

.container-repostory {
    background-color: #1E293B;
    box-shadow: 1px 1px 5px #172131;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}

.container-repostory p, .container-repostory p a {
    line-height: 25px;
    text-decoration: none;
}

.container-repostory p a:hover {
    color: #ffffff;
}

.container-isi-konten {
    background-color: #1E293B;
    box-shadow: 1px 1px 5px #172131;
    width: 100%;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
}

.judul {
    color: #6D6DC8;
    margin-bottom: 15px;
    line-height: 36px;
    /* text-align: center; */
}

.tanggal, .outhour {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 10px;
}

.tanggal i, .outhour i {
    color: #1f8ea7;
    margin-right: 10px;
}

.tanggal p, .outhour p {
    color: #1f8ea7;
}

.poster {
    width: 100%;
}

.btn-daftar-isi {
    background-color: #172131;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 2px 0;
    padding: 0 10px;
    cursor: pointer;
}

.dftr-isi-tujuan {
    padding-top: 100px;
    background-color: pink;
}

.btnDaftarIsiI-rotate {
    transform: rotate(180deg);
}

.container-daftar-isi {
    background-color: #172131;
    padding: 0 10px;
    height: max-content;
    overflow: hidden;
}

.container-daftar-isi-hide {
    height: 0;
}

.daftar-isi {
    display: flex;
    padding: 5px 0;
}

.daftar-isi:hover .nomor-dftr-isi, .daftar-isi:hover .nama-section-dftr-isi {
    color: #008dad;
}

.nomor-dftr-isi {
    margin-right: 10px;
}

.nama-section-dftr-isi {
    text-decoration: none;
    line-height: 20px;
}

article {
    line-height: 25px;
    font-size: 1.1rem;
}

.list-button ul, .list-button ol {
    margin-left: 18px;
}

.list-button-dua ul, .list-button-dua ol {
    margin-left: 30px;
}

.list-button-tiga ul, .list-button-tiga ol {
    margin-left: 45px;
}

.list-button li::marker, .list-button-dua li::marker, .list-button-tiga li::marker {
    color: #9657BC;
}

.list-button li, .list-button-dua li, .list-button-tiga li {
    margin-bottom: 10px;
}

.tab {
    margin-left: 18px;
}

.disclaimer {
    border-left: 5px solid #1f8ea7;
    padding-left: 10px;
}

.youtube {
    display: flex;
    justify-content: center;
}

.link-kontent {
    color: #add400;
}

.subjudul {
    color: violet;
    line-height: 34px;
}

.container-gambar-tengah {
    display: flex;
    justify-content: center;
}

.gambar-tengah {
    width: max-content;
    max-width: 100%;
    margin: auto;
}

pre.language-js, pre.language-html, pre.language-css {
    background-color: #132139 !important;
}

.token {
    font-family: 'Inconsolata', monospace;
}

pre {
    max-height: 400px;
}

pre::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

pre::-webkit-scrollbar-thumb {
    background: #212e48;
}

/* share section */
.container-share {
    background-color: #1E293B;
    box-shadow: 1px 1px 5px #172131;
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.sosial-share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sosial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #6D6DC8;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    background-color: #172131;
    position: relative;
}

.sosial:hover {
    background-color: #1d2e49;
}

.sosial.nososial:hover {
    background-color: #172131;
}

.link-share {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.sosial p, .sosial i {
    color: #6D6DC8;
}

/* konten kanan section */
.konten-kanan {
    background-color: #1E293B;
    box-shadow: 1px 1px 5px #172131;
    width: 33.5%;
    height: max-content;
    padding: 10px;
    border-radius: 5px;
    position: sticky;
    top: 90px;
    overflow: auto;
}

.konten-kanan::-webkit-scrollbar-track {
    background: #1c273e;
}

.konten-kanan::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.konten-kanan::-webkit-scrollbar-thumb {
    background-color: #212e48;
}

/* tutorial terbaru section */
.tutorial-terbaru-dua {
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.continer-card-tutorial-terbaru {
    display: flex;
    flex-wrap: wrap;
}

.card-tutorial-terbaru {
    background-color: rgb(44, 63, 93, 0.2);
    width: 100%;
    display: flex;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    position: relative;
}

.link-tutorial-terbaru {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.card-tutorial-terbaru:hover {
    background-color: rgb(44, 63, 93, 0.4);
}

.img-tutorial-terbaru {
    width: 40%;
    margin-right: 5px;
}

.judul-tutorial-terbaru {
    color: #6D6DC8;
}
